<div class="row">
.
</div>

<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="https://github.com/MaoX17/eleventy-bootstrap">{% icon "github" %} {{site.name}} </a> - <time datetime="{{ build.timestamp | formatISO }}">{{ build.timestamp | format("dd LLL yyyy") }}</time>
  </div>
  <!-- Copyright -->
</footer>

<script async defer src="{% webpack 'main.js' %}"></script>
  </body>
</html>
