<a href="https://www.facebook.com/Lanticofornodimarcialla/">{% include "icons/facebook.svg" %}</a>  &nbsp;
<a href='https://www.tripadvisor.it/Restaurant_Review-g1958096-d10200450-Reviews-L_Antico_Forno-Marcialla_Certaldo_Tuscany.html'>{% include "icons/tripadvisor.svg" %}</a>&nbsp;
<a href="bingmaps:?cp=43.57410818847962~11.140772943664468"><a href="http://maps.apple.com/maps?q=43.57410818847962, 11.140772943664468">{% include "icons/googlemaps.svg" %}</a></a>  &nbsp;
<a href="https://goo.gl/maps/eKQvuSvzkxDoUBHW8">{% include "icons/googlemybusiness.svg" %}</a>



