---
layout: default
title: GreM@Pro - IT and Passion
htmlClass: html
bodyClass: body
---

<div class="container">

  <h1> {{ site.name }} </h1>

  <div class="media">
    <img class="mr-3" src={{site.image}} alt="GreMaPro">
    <div class="media-body">
      <h4 class="mt-0">GreM@Pro</h4>
      <ul>
        <li>
          <a href="http://www.maurizio.proietti.name/wp-content/uploads/2019/09/Curriculum_Maurizio_Proietti_2019.pdf">Curriculum di Maurizio Proietti</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/maurizioproietti/">Maurizio Proietti su Linkedin</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/maurizioproietti/">Maurizio Proietti su GitHub</a>
        </li>
      </ul>
    </div>
  </div>

</div>
