---
layout: default
title: Anfico Forno
htmlClass: html
bodyClass: body
imgIndex: https://res.cloudinary.com/maox17/image/upload/v1608980721/Greta/5anni_qfamv5.png
linkIndex: https://conferenza.provincia.prato.it/pro-sin-n95-tzu
---


  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg">
        <h1>Antico forno di Marcialla</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
              <img src="https://res.cloudinary.com/maox17/image/upload/v1609070691/FornoMarcialla/FornoMarcialla_PIXNIO-207454-1040x360_uuytto-c_scale_w_1140_nh9nfw.jpg" class="img-fluid" alt="...">

        </br>
        <div class="shadow p-3 mb-5 bg-white rounded">
          Siamo un piccolo forno artiginale nel mezzo del Chianti. Se verrete a trovarci, oltre al pane, scoprirete prodotti innovativi, genuini e salutari.
        </div>
      </div>
    </div>
    <div class="row">

      <div class="shadow p-3 mb-5 bg-white rounded text-center col-md-3">
        <a href="https://www.facebook.com/Lanticofornodimarcialla/"><i class="fab fa-facebook-square fa-3x"></i></a>  &nbsp;
      </div>
      <div class="shadow p-3 mb-5 bg-white rounded text-center col-md-3">
        <a href='https://www.tripadvisor.it/Restaurant_Review-g1958096-d10200450-Reviews-L_Antico_Forno-Marcialla_Certaldo_Tuscany.html'>
          <i class="fab fa-tripadvisor fa-3x"></i></a>&nbsp;
      </div>
      <div class="shadow p-3 mb-5 bg-white rounded text-center col-md-3">
        <a href="bingmaps:?cp=43.57410818847962~11.140772943664468">
          <a href="http://maps.apple.com/maps?q=43.57410818847962, 11.140772943664468"><i class="fas fa-map-marker-alt fa-3x"></i></a></a>  &nbsp;
      </div>
      <div class="shadow p-3 mb-5 bg-white rounded text-center col-md-3">
        <a href="https://goo.gl/maps/eKQvuSvzkxDoUBHW8"><i class="fas fa-map-marked-alt fa-3x"></i></a>
      </div>

        </br></br>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://res.cloudinary.com/maox17/image/upload/c_scale,h_400,w_700/v1609021309/FornoMarcialla/colomba_marcialla_z3ltdr.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://www.facebook.com/Lanticofornodimarcialla/posts/2427435057469000">Colomba</a>
                </h4>
                <h5>Pasqua</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://res.cloudinary.com/maox17/image/upload/c_scale,h_400,w_700/v1609021308/FornoMarcialla/colomba_tricolore_nxp8g5.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://www.facebook.com/Lanticofornodimarcialla/posts/2724802074398962">Colomba tricolore</a>
                </h4>
                <h5>Pasqua 2019</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://res.cloudinary.com/maox17/image/upload/c_fill,h_400,w_720/v1609021269/FornoMarcialla/profilo_prjfkt.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://www.facebook.com/Lanticofornodimarcialla/posts/2427435057469000">Colombe artigianali</a>
                </h4>
                <h5>Pasqua</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://res.cloudinary.com/maox17/image/upload/v1609070516/FornoMarcialla/panettone2_xvvh4d.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://www.facebook.com/Lanticofornodimarcialla/posts/2617566958455808">Panettone classico</a>
                </h4>
                <h5>Natale</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://res.cloudinary.com/maox17/image/upload/v1609070516/FornoMarcialla/prodotti_dsmssr.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://www.facebook.com/Lanticofornodimarcialla/posts/2634140796798424">Panettoni</a>
                </h4>
                <h5>Natale</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733;&#9733;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://res.cloudinary.com/maox17/image/upload/v1609071058/FornoMarcialla/beneficienza_cut_vau9v0.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="https://www.facebook.com/Lanticofornodimarcialla/posts/2748801671999002">Manteniamo le promesse</a>
                </h4>
                <h5>Beneficienza</h5>
                <p class="card-text">Il ricavato della vendita delle colombe è stato devoluto in beneficienza. Versamento fatto. Grazie a tutti!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

