<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.title or site.name}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ description or site.description }}">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="author" content=" Maurizio Proietti ">

    {# Open graph related #}
    <meta property="og:title" content="{{ title or site.title or site.name }}" />
    <meta property="og:type" content="{{ type or site.type }}" />
    <meta property="og:url" content="{{ url or site.url }}" />
    <meta property="og:image" content="{{ image or site.image }}" />
    <meta property="og:site_name" content="{{ name or site.name }}" />
    <meta property="og:description" content="{{ description or site.description }}" />

    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="#fff" />


    <meta name="msapplicati on-TileColor" content="#ffffff">

    <link rel="canonical" href={{ url or site.url }}/>

    <link rel="stylesheet" href="{% webpack 'main.css' %}">

    <script src="https://kit.fontawesome.com/2845a43a9e.js" crossorigin="anonymous"></script>

    <script>
      if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("/service-worker.js");
    </script>

  </head>

<body>

<!-- Navigation -->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{site.url}}">{{ site.title }} </a>
      </li>

    </ul>
    <ul class="navbar-nav mr-sm-2">

      <li class="nav-item">
        <a class="nav-link" href="/posts/2anni">2 Anni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts/3anni">3 Anni</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/posts/4anni">4 Anni</a>
      </li>

    </ul>
  </div>
</nav>
  <!-- Page Content -->
  <div class="container-fluid">

    <div class="row">

    <div class="col-lg-2">
      </br>
      <div class="shadow p-3 mb-5 bg-white rounded">
        Siamo un piccolo forno artiginale nel mezzo del Chianti. Se venite a trovarci, oltre al pane, scoprirete prodotti innovativi e salutari.
      </div>
      <div class="shadow p-3 mb-5 bg-white rounded text-center">
        <a href="https://www.facebook.com/Lanticofornodimarcialla/"><i class="fab fa-facebook-square fa-3x"></i></a>  &nbsp;
      </div>
      <div class="shadow p-3 mb-5 bg-white rounded text-center">
        <a href='https://www.tripadvisor.it/Restaurant_Review-g1958096-d10200450-Reviews-L_Antico_Forno-Marcialla_Certaldo_Tuscany.html'>
          <i class="fab fa-tripadvisor fa-3x"></i></a>&nbsp;
      </div>
      <div class="shadow p-3 mb-5 bg-white rounded text-center">
        <a href="bingmaps:?cp=43.57410818847962~11.140772943664468">
          <a href="http://maps.apple.com/maps?q=43.57410818847962, 11.140772943664468"><i class="fas fa-map-marker-alt fa-3x"></i></a></a>  &nbsp;
      </div>
      <div class="shadow p-3 mb-5 bg-white rounded text-center">
        <a href="https://goo.gl/maps/eKQvuSvzkxDoUBHW8"><i class="fas fa-cheese fa-3x"></i></a>
      </div>








    </div>



      <div class="col-lg">

        <img src="https://res.cloudinary.com/maox17/image/upload/v1609033431/FornoMarcialla/PIXNIO-207454-1040x360_uuytto.jpg" class="img-fluid" alt="...">

        </br></br>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://res.cloudinary.com/maox17/image/upload/c_scale,h_400,w_700/v1609021309/FornoMarcialla/colomba_marcialla_z3ltdr.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item One</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://res.cloudinary.com/maox17/image/upload/c_scale,h_400,w_700/v1609021308/FornoMarcialla/colomba_tricolore_nxp8g5.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Two</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://res.cloudinary.com/maox17/image/upload/c_fill,h_400,w_720/v1609021269/FornoMarcialla/profilo_prjfkt.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Three</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Four</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Five</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Six</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
